<? extends euser/parent.html ?>
<? def title ?>Dashboard<? undef ?>
<? def head ?>
  <link rel="stylesheet" href="/static/euser/dash.css">
<? undef ?>
<? def main ?>
  <div id="header">
    <a id="back-button" href="/dash">
      <i class="mdi mdi-chevron-left"></i>
    </a>
    <h2><?= guild.name ?></h2>
  </div>
  <p>Select a bot to continue.</p>
  <hr>
  <? if (bots.length) { ?>
    <div class="item-list">
      <? for (const bot of bots) { ?>
        <a class="item" href="/dash/<?= guild.id ?>/<?= bot._id ?>">
          <i class="item-icon mdi mdi-account-circle"></i>
          <span class="item-text"><?= bot.name ?></span>
        </a>
      <? } ?>
    </div>
  <? } else { ?>
    <div class="no-results">
      <i class="warn-icon mdi mdi-alert-circle"></i>
      <span class="warn-text">This server doesn't have any supported bots.</span>
    </div>
  <? } ?>
<? undef ?>