body {
  background-color: #F6F6F6;
  color: #000;
}

hr {
  background-color: #a0a0a0;
  border-color: #a0a0a0;
  border-style: solid;
  border-top: none;
  color: #a0a0a0;
}

.warn-icon, .warn-text {
  display: inline-block;
  vertical-align: middle;
}

.warn-icon {
  margin-right: 2px;
  color: #EC407A;
  font-size: 24px;
}

.warn-text {
  font-size: 13pt;
}

header {
  background-color: #FFF;
}

.nav-elem {
  color: #000;
  opacity: 0.64;
  transition: opacity 0.2s;
}

.nav-elem:hover {
  opacity: 1;
}

.nav-elem.active {
  opacity: 1;
  border-bottom: 1px solid #000;
}

.flash {
  background-color: #ECEFF1;
}

.flash:hover {
  background-color: #CFD8DC;
}

footer {
  border-top: 1px solid #DEDEDE;
}

.footer-link {
  color: #000;
  opacity: 0.4;
  transition: opacity 0.2s;
}

.footer-link:hover {
  opacity: 0.64;
}