h2 {
  margin: 0;
}

main {
  padding-left: 5.5%; padding-right: 5.5%;
}

#pane-top {
  margin-bottom: 12px;
  display: flex;
  flex-flow: row;
  align-items: center;
}

#pane-bottom {
  display: flex;
  flex-flow: row;
}

#pane-left {
  padding: 12px 0;
  flex: 2;
}

.config-tab {
  padding: 10px 14px;
  display: block;
}

.config-tab-icon, .config-tab-label {
  display: inline-block;
  vertical-align: middle;
}

.config-tab-icon {
  margin-right: 4px;
  font-size: 20px;
}

#pane-right {
  padding-left: 36px;
  flex: 7;
}

.config-field {
  padding: 12px 12px 20px;
}

.config-key {
  font-size: 20pt;
  font-weight: bold;
  margin-bottom: 6px;
}

.config-desc {
  font-size: 12pt;
  margin-bottom: 4px;
}

input.config-value, select.config-value {
  line-height: 1.21em;
  font-size: 12pt;
  font-weight: normal;
  font-family: 'Calamity', 'Roboto', 'Helvetica', 'Arial', sans-serif;
  outline: none;
  box-shadow: none;
  appearance: none;
  -webkit-appearance: none;
}

input[type="text"].config-value,
input[type="url"].config-value {
  width: 100%;
  margin: 10px auto 0; padding: 6px 8px;
  border-radius: 4px;
  border: none;
}

select.config-value {
  margin: 10px auto 0; padding: 4.5px 6px;
  padding-right: calc(6px + 1.25em);
  background: #fff;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAAABmJLR0QA/wD/AP+gvaeTAAAAWElEQVRoge3VMQqAUBAD0Rw95d5aq9hYqKBfAvMg/XSRAAAAAADAUyNpe2mzuP3gG3FX8+LmE6s4Pqzi+LCK48Mqjg+rOD6s4viwiuNj9ONJAQAAAAC+tAPx/2PHUMmYLAAAAABJRU5ErkJggg==);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  margin-right: 2px; padding: 8px 10px;
  border-radius: 4px;
  -webkit-appearance: none;
  border: none; outline: none;
  cursor: pointer;
}