h2 {
  margin: 0;
}

main {
  padding-left: 5.5%; padding-right: 5.5%;
}

#pane-top {
  margin-bottom: 12px;
  display: flex;
  flex-flow: row;
  align-items: center;
}

#pane-bottom {
  display: flex;
  flex-flow: row;
}

#pane-left {
  padding: 12px 0;
  flex: 2;
}

.config-tab {
  padding: 10px 14px;
  display: block;
}

.config-tab-icon, .config-tab-label {
  display: inline-block;
  vertical-align: middle;
}

.config-tab-icon {
  margin-right: 4px;
  font-size: 20px;
}

#pane-right {
  padding-left: 36px;
  flex: 7;
}

.config-field {
  padding: 12px 12px 20px;
}

.config-key {
  font-size: 20pt;
  font-weight: bold;
  margin-bottom: 4px;
}

.config-desc {
  font-size: 12pt;
  margin-bottom: 4px;
}

input[type="text"].config-value {
  width: 100%;
  margin: 10px auto 0; padding: 8px;
  border-radius: 4px;
  border: none; outline: none;
  -webkit-appearance: none;
}

button {
  margin-right: 2px; padding: 8px 10px;
  border-radius: 4px;
  -webkit-appearance: none;
  border: none; outline: none;
  cursor: pointer;
}