<label>Data Entry<span class="req">*</span></label>
<input type="text" class="m" value="<?= src ?>" required pattern="\w*" maxlength="16">
<label>Title</label>
<input type="text" class="m" value="<?= title ?>" maxlength="16">
<script>
  e.jsonify = function() {
    if (!e.children[2].checkValidity()) throw new Error('Data entry ID must be between 1 and 16 alphanumeric characters!');
    if (!e.children[4].checkValidity()) throw new Error('Title must be at most 16 characters!');
    return {
      type: 'list',
      src: e.children[2].value,
      title: e.children[4].value,
    };
  };
</script>