<label>Data Entry<span class="req">*</span></label>
<input type="text" class="m" value="<?= src ?>" required pattern="\w*" maxlength="16">
<label>Title</label>
<input type="text" class="m" value="<?= title ?>" maxlength="16">
<label>Cutout Percentage</label>
<input type="number" class="m" value="<?= options.cutoutPercentage || 75 ?>" min="0" max="100">
<label>Rotational Offset (Degrees)</label>
<input type="number" class="m" value="<?= Math.floor(options.rotation * 180 / Math.PI) ?>">
<script>
  e.jsonify = function() {
    if (!e.children[2].checkValidity()) throw new Error('Data entry ID must be between 1 and 16 alphanumeric characters!');
    if (!e.children[4].checkValidity()) throw new Error('Title must be at most 16 characters!');
    if (!e.children[6].checkValidity()) throw new Error('Cutout percentage must be an integer between 0 and 100!');
    if (!e.children[8].checkValidity()) throw new Error('Line width must be a valid integer!');
    return {
      type: 'pie',
      src: e.children[2].value,
      title: e.children[4].value,
      options: {
        cutoutPercentage: e.children[6].valueAsNumber,
        rotation: (e.children[8].valueAsNumber % 360) * Math.PI / 180,
      },
    };
  };
</script>