<!DOCTYPE html>
<html>
  <head>
    <title>Test</title>
  </head>
  <body>
    <ul>
      <? for (const flash of req.flashes) { ?>
        <li><?= flash ?></li>
      <? } ?>
    </ul>
    <? if (req.user) { ?>
      <h1>Logged in</h1>
      <a href="/logout">Log out</a>
      <p><?= profile.username ?>#<?= profile.discriminator ?></p>
      <ul>
        <? for (const guild of guilds) { ?>
          <li><?= guild.id ?> -- <?= guild.name ?></li>
        <? } ?>
      </ul>
    <? } else { ?>
      <h1>Not logged in</h1>
      <a href="/login">Please Log In!</a>
    <? } ?>
  </body>
</html>