body > main {
  display: flex;
  flex-flow: column;
}

#pane-bottom {
  flex: 1;
}

#pane-right {
  display: flex;
  flex-flow: column;
}

.component {
  display: flex;
  flex-flow: column;
}

.type-selector {
  width: 100%;
  margin-bottom: 8px;
  padding-bottom: 8px;
  display: flex;
  flex-flow: row;
  align-items: center;
  border-bottom: 1px solid #212121;
}

.type-selector > p {
  margin-right: 8px;
  font-weight: bold;
}

.type-selector > select.config-value {
  margin: 0;
  border-radius: 0;
  flex: 1;
}

i:before {
  content: "\F2D6";
}
    
.icon-container {
  margin-top: 10px;
  font-size: 0;
}

.icon-preview, input[type="text"].icon {
  margin: 0;
  display: inline-block;
  vertical-align: middle;
}

.icon-preview {
  width: 24px;
  margin-right: 8px;
  font-size: 24px;
}

input[type="text"].icon {
  width: calc(100% - 32px);
  font-size: 12pt;
}

.component > .m {
  margin-bottom: 8px;
}

.component > label {
  margin-bottom: 5px;
}

.comp-markdown > .input-code {
  width: 100%;
  resize: none;
  flex: 1 0 33.3vh;
}