body {
  background-color: #000;
  color: #FFF;
}

hr {
  border-color: #212121;
}

a {
  color: #5C6BC0;
  text-decoration: none;
}

a:hover {
  background-color: #FFF;
  color: #000;
}

header {
  border-bottom: 1px solid #212121;
}

.nav-elem {
  color: #FFF;
}

.nav-elem:hover, .nav-elem.active {
  background-color: #FFF;
  color: #000;
}

.flash {
  border-bottom: 1px solid #212121;
}

.flash:hover {
  outline: 2px solid #FFF;
}

footer {
  border-top: 1px solid #212121;
}

.footer-link {
  color: #FFF;
}

.footer-link:hover {
  background-color: #FFF;
  color: #000;
}